<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839063944186-iooginj5uedjgf50kl0d20odltva0k9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839063944186-iooginj5uedjgf50kl0d20odltva0k9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDd68RDgr7Vp5tKQZLRKZY8yUK_fJwuOeA</string>
	<key>GCM_SENDER_ID</key>
	<string>839063944186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testLocalNotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-26237</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-26237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839063944186:ios:978975f22997d37a084243</string>
</dict>
</plist>